extends ../../layouts/layout.pug
block prepend content
    main.ctype
        .rectangles
            .rectangle-blocks
                +rectangle(class ="dark-shade")
                +rectangle(class ="ds75")
                +rectangle(class ="ds50")
                +rectangle(class ="ds25")
                +rectangle(class ="ds05")
                +rectangle(class ="purple")
                +rectangle(class ="green")
            .rectangle-text
                +rectangletext('Dark Shade 100% ', '#1F2041')
                +rectangletext('Dark Shade 75% ', '#1F2041')
                +rectangletext('Dark Shade 50% ', '#1F2041')
                +rectangletext('Dark Shade 25% ', '#1F2041')
                +rectangletext('Dark Shade 5% ', '#1F2041')
                +rectangletext('Purple ', '#BC9CFF')
                +rectangletext('Green ', '#6FCF97')
        .text-form
            .text-form-name
                h1.form-name__m(style="margin-bottom:8rem") H1
                h2.form-name__m(style="margin-bottom:7.5rem; margin-left:0.4rem") H2
                h3.form-name__m(style="margin-bottom:4.8rem; margin-left:1.1rem") H3
                .body.form-name__m(style="margin-left:-0.7rem") Body
            .text-form-exmaple
                h1.text-form-exmaple__m(style={width: '36.9rem', height: '5.9rem'})
                    |This one is the sub-section or widget title
                h2.text-form-exmaple__m(style={width: '31.2rem', height: '4.7rem', padding: '3.7rem 0'})
                    |Next one is the item title inside widgets
                h3.text-form-exmaple__m(style={width: '18.6rem', height: '1.5rem', margin: '0.18rem 0'}) 
                    |this is a label or cta text
                .text-form-exmaple__m(style={width: '30.1rem', height: '4.8rem', margin: '4.55rem 0'}) 
                    |This is the body text which is used for most of the design, like paragraphs, lists, etc.            
                
    

        