header
    .header
        a(href="#") 
            img(src="images/logo.svg", alt="logo_company") 
        nav
            ul.nav
                li.nav-item
                    a(href="#").nav-link.active О нас 2
                li.nav-item
                    a(href="#").nav-link Услуги
                li.nav-item
                    a(href="#").nav-link Вакансии
                li.nav-item
                    a(href="#").nav-link Новости
                li.nav-item
                    a(href="#").nav-link Соглашения   
        ul.sing_in_up    
            li.sing_in
                button.btn_si(type='submit') войти
            li.sing_up
                button.btn_su(type='submit') зарегистрироваться 