header
    .header
        a(href="#") 
            img(src="img/logo.svg", alt="logo_company") 
        nav
            ul.nav
                li.nav-item.active
                    a(href="#") О нас
                li.nav-item
                    a(href="#") Услуги
                li.nav-item
                    a(href="#") Вакансии
                li.nav-item
                    a(href="#") Новости
                li.nav-item
                    a(href="#") Соглашения   
        ul.sing_in_up    
            li.sing_in
                button.btn_si(type='submit') войти
            li.sing_up
                button.btn_su(type='submit') зарегистрироваться 