@import "font.scss";
@import "var.scss";
@import "../pages/**/*.scss";

html
{
    font-size: 62.5%;
    background-color: #E5E5E5;
    background: left 3rem top 3rem url(../img/blogo.svg) no-repeat;
}

h1
{
    color: $dark-shade;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.9rem;
    font-style: normal;
    font-family: Montserrat;

}

h2
{
    color: $dark-shade;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3rem;
    font-family: Montserrat;
}

h3
{
    color: $dark-shade;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-family: Montserrat;
}

body {
    color: $ds75;
    font-family: Montserrat;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: normal;
    font-style: normal;

    
}



.header {
    display: flex;
    justify-content: space-between;
    max-width: 90rem;
    margin: 0 auto;
    height: 4.375rem;
    box-shadow: 0px 0.625rem 1.125rem rgba(31, 32, 65, 0.05);
}
.nav {
    display: flex;
    align-items: center;
    list-style: none ;
    padding-left: 0;
    &-item {
        margin: 0 1rem;
    }
    &-link {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
    }
}
.active {
    color: rgba(31, 32, 65, 0.75);
    font-weight: 700;
}
.sing_in_up {
    list-style: none;
    display: flex;
}
.sing_in {
}
.btn_si {
}
.sing_up {
}
.btn_su {
}