extends layouts/layout.pug
block append content
    .main-blockindexpage
        a(href='/src/pages/color_type/ctype.html') Ctype
        hr
        a(href='/src/pages/form_elem/felem.html') Form_Elem