block variables

doctype html
html(lang="ru")
    head
        include ../pages/modules/head
        block scripts
    body
        include libs.pug
        block header
            
        block content

        block footer
            include ../pages/modules/footer 
            