mixin rectangle(color)
    .rectangle-blocks_block(class!=attributes.class)= color
mixin rectangletext(text="No color", color="#000")
    h2.rectangle-text_color= text
        span= color
mixin inputText(id, label, val)
    label
        H3(for= id)= label
    input(type="text", name= id, id= id, value= val,autocomplete="off")
